<div class="card-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h3>Book List ({{bookService.count}})</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <div *ngFor="let book of bookService.getBooks">
          <mat-list-item><b>Title:&nbsp;</b>{{book.title}}({{book.category}})</mat-list-item>
          <mat-list-item><b>Description:&nbsp;</b>{{book.description}}</mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>