<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="example-fill-remaining-space">{{ title }}</h1>
  </mat-toolbar-row>
</mat-toolbar>

<app-add-book></app-add-book>
<app-list-books></app-list-books>