<div class="card-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h3>Add Book</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #addBookForm="ngForm" (ngSubmit)="onSubmit(addBookForm)">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Title" name="title" [(ngModel)]="book.title" maxlength="30" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Category" name="category" [(ngModel)]="book.category" required>
                  <mat-option *ngFor="let category of Categories" [value]="category">
                    {{category}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Description" name="description" [(ngModel)]="book.description" required></textarea>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <button mat-raised-button [disabled]="!addBookForm.form.valid">Add</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>