/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card-container {
    text-align: center;
    padding-top: 10px;
}
.example-card {
    margin: auto;
    width: 50%;
    min-width: 200px;
}
.example-full-width {
    width: 100%;
}
